

.footer {

    background-color: #F8F8F8;
    padding-top: 170px;
    padding-bottom: 100px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__social {
        width: 340px;
    }

    &__logo {

    }

    &__product {
    }

    &__ul {

        li {
            font-size: 16px;
            line-height: 30px;          
            color: #4F5665; 
        }
    }

    &__ul-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #0B132A;
        margin-bottom: 15px;
    }

    &__engage {
    }

    &__earn-money {
    }

    a:hover {
        text-decoration: underline;
    }
}

.social {
    display: flex;
    flex-direction: column;
    &__p {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #4F5665;

        span {
            font-weight: 500;
        }
    }

    &__icons {
        display: flex;
        margin-top: 30px;
    }
    &__icon-wrapper {
        margin-right: 20px;
    }
}
.copyright {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
    span {
        font-weight: 500;
    }
}

.icon {
    width: 33px;
    height: 33px;
    margin-left: 10px;
    fill: black;
    transition: fill 0.3s;
    
    &:hover {
        fill: #F53838;
    }
}
//====================================================================================================

//====================================================================================================

@media(max-width: 1070px){
    .footer {
		padding-top: 0px;

	}

	.footer__content {
        //display: grid;
        //grid-template-columns: 1fr 1fr;
	}

    .footer__column {
        margin-top: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
    }

    .footer__social {
        order: 20;
    }

}

@media(max-width: 520px){

    .footer {
		padding-bottom: 10px;

	}

    .footer__column {
        flex-basis: 100%;
    }

}