//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500,700&display=swap);
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Rubik";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	background-color:  #F6F6F6;
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "forms";
.btn {
	display: inline-flex;
	padding: 0px 0px;
	@media (min-width: 992px) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "swiper";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================
a {
	color:inherit;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<кнопки>


.btn_big {		
	position: relative;			
	margin-right: auto;
	margin-bottom: 22px;
	background-color: #F53838;
	border-radius: 10px;
	transition: all 0.3s;


	&:hover {
		background-color: darken(#F53838, 5%);
		box-shadow: 0px 5px 10px 2px rgba(245, 56, 56, 0.2);		
	}

	&__text {
		position: relative;
		font-weight: bold;
		font-size: 16px;
		line-height: 25px;
		color: #FFFFFF;
		padding: 17.5px 77.5px;
		z-index: 1;
		white-space: nowrap;
	}
}

//</кнопки>

//<ABOUT>===================
.about {
	margin-top: 45px;

	&__get-started {
       display: flex;
	   flex-direction: column;
	}

	
	&__title {
		font-weight: 500;
		font-size: 50px;
		line-height: 70px;
		color: #0B132A;
		margin-top: 28px;
		
		span {
			font-weight: 900;
		}
		
	}



	&__p {
		flex: 1 1 auto;
		font-size: 15px;
		line-height: 30px;
		color: #4F5665;
	
		span {
			font-weight: 500;
		}
	
	}

	&__row {
		display: flex;
		flex-basis: 50%;
	}

	&__main-img {
		position: relative;
		left: 67px;
		width: 611px;
		height: 382px;
	}

	&__stats-row {
		display:flex;
		flex-wrap: wrap;
		background-color: #fff;
		border-radius: 10px;
		margin-top: 103px;
	}

    &__stats {
		flex-basis: 33.333%;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
	}
}
 
.stats{

	position: relative;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		width: 2px;
		height: 125px;
		background-color: #EEEFF2;
	}

	&:last-child::after {
		display: none;
	}

	&__number,
	&__p {
     margin-left: 90px;
	 padding-left: 90px;
	}

	&__number {
		position: relative;
		font-weight: bold;
		font-size: 25px;
		line-height: 30px;
		color: #0B132A;
	}

	&__icon {
		position: absolute;
		width: 55px;
		height: 55px;
		left: 0;
		top: 5px;
	}

	&__p {
		margin-top: 5px;
		font-weight: normal;
 		font-size: 20px;
		line-height: 30px;
		color: #4F5665;
	}


}

//</ABOUT>===============================

//<FEATURES>=============================

.features {
	padding-top: 95px;
	background: linear-gradient(174deg, rgba(243,244,245,1) 0%, rgba(255,255,255,1) 100%);
	padding-bottom: 130px;

	&__row {
		display: flex;
		flex-basis: 50%;
	}

	&__img {
		width: 508px;
		height: 414px;
		margin-left: 34px;	
	}

	&__box {
		padding-top: 55px;
		margin-left: 169px;
	}

	&__title {
		font-weight: 500;
		font-size: 35px;
		line-height: 50px;
		color: #0B132A;
	}

	&__p {
		margin-top: 20px;
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		color: #4F5665;
	}

	&__list {
		margin-top: 20px;		
	}

	li {
		margin-bottom: 15px;
		padding-left: 35px;
		font-weight: normal;
		line-height: 30px;
		color: #4F5665;
		background:  no-repeat left url("../img/icons/list-icon-1.png");
	}
}
//</FEATURES>=============================


//<PRICING>=================================

.pricing {
    	display: flex;
		flex-direction: column;
		padding-top: 86px;

	&__wrapper{
		background: linear-gradient(174deg, rgba(250,250,250,1) 0%, rgba(254,254,254,1) 100%);

	}

	&__header {

	}

	&__title {
		font-weight: 500;
		font-size: 35px;
		line-height: 50px;
		text-align: center;
		color: #0B132A;
	}

	&__p {
		width: 555px;
		margin: 20px auto 0;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: #4F5665;
	}

	&__cards {
		margin-top: 60px;
		display: flex;		
		flex-basis: 33.333%;
		justify-content: space-around;
	}

	&__card {
		display:flex;
		flex-direction: column;
		align-items: center;
		width: 330px;
		border: 2px solid #DDDDDD;
		border-radius: 10px;
	}
}
.card {
	padding-top: 79px;
	padding-bottom: 50px;
	background-color: #fff;

	&:hover {
		border-color: lighten(#F53838, 25%);
	}

	&__img {
		width: 145px;
		height: 165px;	
	}

	&__title {
		margin-top: 30px;
		font-weight: 500;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		color: #0B132A;
	}

	&__ul {
		margin-top: 30px;
		margin-bottom: 50px;
		flex: 1 1 auto;
	}

	li {
		padding-left: 44px;
		margin-bottom: 10px;

		line-height: 30px;
		color: #4F5665;
		background: left no-repeat url("../img/icons/card__li.png");
	}

	&__price {
		font-weight: 500;
		font-size: 25px;
		line-height: 30px;
		color: #0B132A;
	}

	&__btn {
		margin-top: 20px;
		width: 177px;
		height: 45px;	
		border: 2px solid #F53838;
        border-radius: 50px;
		justify-content: center;
		align-items: center;
		color: #F53838;
		transition: all 0.3s;
	}

	&__btn:hover {
		background-color: #F53838;
		color: #fff;
		box-shadow: 0px 5px 10px 7px rgba(245, 56, 56, 0.2);
	}


}

.price__text_grey {

	color: #4F5665;
	
}

.btn {
	&__text {
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;		
	}
}
//</PRICING>======================


//<NETWORK>=====================

.network {
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	&__wrapper {
		background: linear-gradient(174deg, rgba(254,254,254,1) 0%, rgba(255,255,255,1) 100%);
	}
	&__header{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		width: 383px;
		font-weight: 500;
		font-size: 35px;
		line-height: 50px;
		text-align: center;
		color: #0B132A;
	}

	&__p {
		width: 555px;
		margin-top: 20px;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: #4F5665;
	}

	&__text {

		&_500 {
			font-weight: 500;
		}
	}

	&__map {
		margin: 155px 40px 0;
	}

	&__sponsors {
		padding: 70px 0;
		display: flex;
		justify-content: space-between;
	}


}
//</NETWORK>


//<testimonials>


.testimonials {
 	background-color: #fefefe; 
	padding-top: 30px;

	&__header{
		display: flex;
		flex-direction: column;
	}

	&__title {
		width: 448px;
        margin: 0 auto;
		font-weight: 500;
		font-size: 35px;
		line-height: 50px;
		text-align: center;
		color: #0B132A;
	}

	&__p {
		width: 555px;
		margin: 20px auto 0;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: #4F5665;
	}
}

.testimonials-slider {
	margin-top: 60px;

	
	&__wrapper {
		margin-bottom: 105px;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		height: 230px;
		width: 400px;
		padding: 30px;

		border: 2px solid #DDDDDD;
		box-sizing: border-box;
		border-radius: 10px;
	}

	&__slide:hover {
		border-color: #F53838;
	}

	&__swiper-pagination {
	}

	&__swiper-button-prev {
	}

	&__swiper-button-next {
	}
}
.swiper-container {
}
.swiper-wrapper {
}
.slide {

	&__header {
		display: flex;
		width: 100%;
	}

	&__profile-img {
		width: 50px;
		height: 50px;
		border-radius: 50px;
		
		img{
			width: 50px;
			height: 50px;
		}
	}

	&__name-and-from {
		flex:1 1 auto;
		padding-left: 20px;
	}

	&__name {
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		color: #0B132A;
	}

	&__from {
		line-height: 30px;
		color: #4F5665;
	}

	&__star-rating {
		padding-top: 1px;
		position:relative;
		top: 7px;
		padding-right: 25px;
		background: right top no-repeat url(../img/star.svg);
		background-position-y: -1px;
		background-size: 16px;
	}

	&__p {
		flex: 1 1 auto;
		padding-top: 20px;
		font-size: 16px;
		line-height: 30px;
		color: #0B132A;
	}
}
.swiper-slide {

}

.testimonials-slider__nav {
	display: flex;
	padding-left: 70%;
}

.swiper-pagination {
	position: static;
	margin-left: 10px;
	 margin-bottom: 35px;
	 text-align: left;

	 &-bullet {
		margin-left: 15px;
		width: 15px;
		height: 15px;
		transition: all .3s;

		&-active {
			background-color: #F53838;
			width: 40px;
			border-radius: 15px;	
		}
	 }
}

.swiper-button-prev,
.swiper-button-next {
	position: static;
	width: 61px;
	height: 61px;
	top: 280px;
	transform: translate(0, -50px);
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;

}

.swiper-button-prev {

}
.swiper-button-next {
	margin-left: 30px;
	margin-right: 30px;
	img {
		
		transform: rotate(180deg);
	}

}
//</testimonials>


//<subscribe>

.subscribe {
		position: relative;
		top: 110px;
		&__content {
			display: flex;
			justify-content: space-between;
			padding: 58px 70px;
			background-color: #fff;
			box-shadow: 0px 5px 10px 2px rgba(19, 18, 18, 0.1);
			border-radius: 10px;
		}

		&__column {
		width: 410px;
		}

		&__column-2 {
			display: flex;
			align-items: center;
		}

		&__title {
			font-weight: 500;
			font-size: 35px;
			line-height: 45px;
			color: #0B132A;
		}

		&__subtitle {
			margin-top: 20px;
			font-size: 16px;
			line-height: 30px;
			color: #4F5665;
		}

}
//</subscribe>